<phpunit bootstrap="bootstrap.php"
         stopOnFailure="false"
         backupGlobals="true"
         backupStaticAttributes="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         syntaxCheck="false"
         verbose="true">
         
  <testsuite name="sdk_barzahlen">
    <directory phpVersion="5.3.1" phpVersionOperator=">=">./</directory>
  </testsuite>

  <filter>
    <blacklist>
      <file>bootstrap.php</file>
    </blacklist>
  </filter>

  <logging>
    <log type="coverage-html" target="cover" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70"/>
  </logging>
  
</phpunit>
